

.chat-box{
	background-color: white;
	padding: 8px;
}

.chat{
	height: 400px;
	background-color: #E7E4DD;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
  padding: 5vh;
}
.textchat{
	font-size: 2rem;
	color:blue;
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}
