:root {
  --blue: #0643e9;
  --white: #ffffff;
}

/*----- Nav -----*/
.plog{
  color:#0643e9;
  font-size: 2.5rem;
}
.logo{
  width: 18%;
  height: 15%;
  margin-left: 55%;
}
.fa{
  font-size: 2rem;
  color:#0643e9;
}
.sear{
  margin-right: 5%;
}

.but{
  border:1px solid #0643e9;
  color:#0643e9;
}

/*----- Sección registro -----*/













/*Sección regístrate*/
.imgtrans{
  background-image: url("../assets/images/cusco.jpg");
  height:92vh;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	z-index:-1;
}

.dos{
  width: 100%;
  margin-top: 10rem;
  text-align: center;
 	color: #000;
}


************************
