:root {
  --blue: #0643e9;
  --white: #ffffff;
}

/*----- Setear -----*/


/*Sección regístrate*/
.imgtrans{
  background-image: url("../assets/images/cusco.jpg");
  height:92vh;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	z-index:-1;
}

.dos{
  width: 100%;
  margin-top: 10rem;
  text-align: center;
 	color: #000;
}


************************
