/*---- Styles index.html Section splash----*/

header.masthead {
  position: relative;
  background: url('../assets/images/fondo.jpg');
  background-position: 20% 30%;
  padding: 5em 0 ;
}

header.masthead h1 {
  font-size: 2rem;
  color: #13232f;
}

.service-icon {
  background-color: #1d809f;
  color: #ffffff;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0
}

/*---- Styles sesion.html Section Login & Register----*/

.back-image{
  background: url('../assets/images/fondo.jpg');
  background-size: cover;
  background-origin: border-box;
  background-position: 20% 60%;
  height: 100vh;
  opacity:0.9;
}

.container-forms {
  background: #fff;
  margin-top: 10%;
  border-radius: 10px;
}

.container-tabs {
  background-color: #456d86;
  list-style: none;
  padding: 0.5em 2em;
}

.container-tabs li {
  width: 30%;
  display: inline-block;
}

.container-tabs li a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

#name, #email, #pass, #city, #email2, #contrasena2{
  font-size: 1em;
  padding: 5px 10px;
  background: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  transition: all 0.5s ease;
  border-radius: 5px;
}

#section-login {
  padding: 1em 2em;
}

.contenido-tab > div:last-child {
  display: none;
}

.forgot {
  margin-top: -45px;
  text-align: left;
  margin-left: 5em;
  margin-bottom: 2em;
}

.contenedor-input {
  position: relative;
  margin: 20px 0;
}

/*---- Styles messages.html Section Chat----*/

.chat{
  background-color: #fff;
  padding: 2em;
}

/*---- Styles friends.html Section Friends----*/




/*----- General -----*/
html {
  background-color: white;
  min-height: 100%;
  position: relative;
}

body {
  overflow-x: hidden;
}

:root {
  --blue: #0643e9;
  --white: #ffffff;
}

/*---- views search-transport ----*/
.card-transport p {
  font-size: 14px;
}

.text-price {
  color: rgb(171, 171, 171);
}

.text-price span {
  color: rgb(25, 69, 136);
  font-size: 24px;
  padding-right: 10px;
}

img[alt='logo-agency'] {
  height: 25px;
  width: 25%;
}

/*---- views search-acomodation ----*/
.card-hotel img {
  height: 20vh
}

.card-hotel p {
  font-size: 14px;
}

.card-hotel .text-description {
  font-size: 13px;
}

/*---- General structure ----*/

body.fixed-nav {
  padding-top: 56px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
  font-size: 1rem;
}

.plane{
  font-size: 1.5rem;
  padding-bottom: 2rem;
  color: #1d809f;
}
#btn-send{
  background-color: #1d809f;
}
.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a {
  display: block;
  padding: 0.3em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a:hover, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level>li>a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level>li>a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown.show>.nav-link:after {
  content: '\f107';
}

#mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown .dropdown-menu>.dropdown-item>.dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav>.nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li, #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li {
    width: 250px;
  }
  #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a, #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav>.nav-item.dropdown .dropdown-menu>.dropdown-item>.dropdown-message {
    max-width: 300px;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: 100vh;
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler>.nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler>.nav-item>.nav-link {
    padding: 0.5em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #1d809f;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: white;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #1d809f;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: white;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item, body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
  #search-input {
    width: 50%;
  }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

body.sidenav-toggled .navbar-sidenav {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item, body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after, body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
  color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
  color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
  color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:hover, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:hover {
  color: white;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
  color: white;
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #1d809f;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: white !important;
    background-color: #1d809f;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {

    background: #1d809f;
  }
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #ecb920;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item>.nav-link {
  color:#ecb920;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item>.nav-link:hover {
  color:#ecb920;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a, #mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a {
  color:#ecb920;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level>li>a:hover, #mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level>li>a:hover {
  color:#ecb920;
}

#mainNav.navbar-light .navbar-collapse .navbar-nav>.nav-item.dropdown>.nav-link:after {
  color:#ecb920;
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #1d809f;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: red important;
    background-color: white;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: red;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-second-level, #mainNav.navbar-light .navbar-collapse .navbar-sidenav>.nav-item .sidenav-third-level {
    background: white;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}

.two{
  margin-left: 10%;
  width: 100%;
  height: 100%;
  padding-bottom: 20%;
}


.media img {
  height: 50px;
  width:  50px;
}

@media (max-width: 320px) {
  #section-login {
    margin-top: 0;
  }

  .logo {
    display: none;
  }
}
.title {
  font-family: 'Philosopher', sans-serif;
}

.phrase{
  font-size: 13px;
}

/*****CHAT******/
#content-chat {
  padding: 0;
}

#content-chat li {
  list-style: none;
  background-color: #F1F0F0;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom:  5px;
}

#content-chat p {
  margin-bottom: 0;
}

.time {
  font-size: 10px;
  text-align: right;
}

textarea {
  resize: none;
}

/*****COMPARTIR VIAJES******/
.btn-add-image [type="file"] {
  border: 1px solid red;
  height: 25px;
  opacity: 0;
  width: 25px;
}

.btn-add-image {
  background-color: #d97016;
  border-radius: 25px;
  color: white;
  height: 30px;
  position: relative;
  width: 30px;
}

.btn-add-image i {
  border-radius: 25px;
  left: 5px;
  padding: 2px;
  position: absolute;
  top:5px;

}

.display{
  display: none;
}

/***Perfil*/
.image-perfil {
  height: 50%;
}
.btn-grayLab {
  color: darkslategray;
  font-size: 1rem;
}
