/*---- Iniciar sesión----*/

#section-login {  
  padding: 1em 2em;
}

.contenido-tab > div:last-child {
  display: none;
}

.forgot {
  margin-top: -20px;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 20px;
}

.contenedor-input {
  position: relative;
  margin: 20px 0;
}

.send2 {
  background-color: rgb(75, 73, 73);
  color: #fff; 
  margin-bottom: 5%;
  margin-left: 5%;
  width: 86%;   
}

