<!DOCTYPE html><html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TRIP Lovers</title>
  <!-- Links CSS Styles-->
  <link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../css/main.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDh8a6XaxaCeFh9tatmoNMjB3Xh44A8q5s",
      authDomain: "trip-lovers.firebaseapp.com",
      databaseURL: "https://trip-lovers.firebaseio.com",
      projectId: "trip-lovers",
      storageBucket: "trip-lovers.appspot.com",
      messagingSenderId: "234184574226"
    };
    firebase.initializeApp(config);
  </script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Section Navigation Data -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="news.html">TRIP Lovers</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Search places -->
    <input type="search" class="form-control" id="search-input" placeholder="Buscar ciudades...">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav vh-100" id="exampleAccordion">
        <li class="nav-item">
          <a class="nav-link" href="news.html">
            <i class="fa fa-newspaper-o"></i>
            <span class="nav-link-text">Novedades</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="share-trips.html">
            <i class="fa fa-fw fa-suitcase"></i>
            <span class="nav-link-text">Compartir viajes</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="search-places.html">
            <i class="fa fa-globe"></i>
            <span class="nav-link-text">Regiones y ciudades</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="search-acomodation.html">
            <i class="fa fa-building"></i> Hoteles y restaurants</a>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="search-activities.html">
            <i class="fa fa-bicycle"></i> Lugares y actividades</a>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="search-transports.html">
            <i class="fa fa-bus"></i> Transportes</a>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="friends.html">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Amigos viajeros</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Editar perfil">
          <a class="nav-link" href="messages.html">
            <i class="fa fa-fw fa-commenting"></i>
            <span class="nav-link-text">Mensajes</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="edit-profile.html">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Editar perfil</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item sign-off">
          <a class="nav-link">
            <i class="fa fa-fw fa-sign-out sign-off"></i>Cerrar Sesión
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Section Friends Data-->
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-0 mt-4">
            <i class="fa fa-newspaper-o"></i> Novedades</div>
          <hr class="mt-2">
          <!-- Container News Data with JQuery-->
          <div class="card-columns" id="cointainer-news">
          </div>
        </div>
        <div class="col-lg-4">
        </div>
      </div>
    </div>
  </div>
  <!-- Links JavaScript-->
  <script src="../vendors/jquery/jquery.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../js/social-net-data.js"></script>
  <script src="../js/news.js"></script>
  <script src="../js/app.js"></script>

</body>

</html>
