<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TRIP LOVERS</title>
  <!-- Bootstrap core CSS-->
  <link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../assets/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="../css/registerlogin.css">
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://trip-lovers.firebaseapp.com/__/auth/handler"></script>

</head>

<body class="vh-100">
  <section id="img-font">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-sm-7 offset-md-7 offset-lg-6 col-xs-12 col-sm-4 col-md-4 col-lg-6 ">
          <div class="contenedor-formularios">
            <!-- Links de los formularios -->
            <ul class="contenedor-tabs">
              <li class="tab tab-segunda active">
                <a href="#iniciar-sesion">Iniciar Sesión</a>
              </li>
              <li class="tab tab-primera">
                <a href="#registrarse">Registrarse</a>
              </li>
            </ul>

            <div class="row" id="section-login">
              <div class="col-md-4">
                <img src="../assets/images/logo-blanco.png" alt="" class="img-fluid logo">
              </div>

              <!-- Contenido de los Formularios -->
              <div class="contenido-tab">
                <!-- Iniciar Sesion -->
                <div id="iniciar-sesion">
                  <h1>Iniciar Sesión</h1>
                  <form action="#" method="post">
                      <div class="contenedor-input  email-ingreso">
                          <label>
                            Email
                            <span class="req">*</span>
                          </label>
                          <input type="email" required>
                        </div>

                    <div class="contenedor-input pass-ingreso">
                      <label>
                        Contraseña
                        <span class="req">*</span>
                      </label>
                      <input type="password" required>
                      <br>
                    </div>
                    <p class="forgot">
                      <a href="#">Se te olvidó la contraseña?</a>
                    </p>
                    <input type="submit" class="button button-block send" value="Iniciar Sesión">
                    <div class="row">
                        <div class="col-xs">
                            <div class="box">
                                <div class="row">
                                    <div class="col-xs">
                                        <button onclick="facebook()" class="btn btn-login btn-lg btn-block btn-face" type="submit">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>Inicia con Facebook</button>
                                          <button onclick="google()" class="btn btn-login btn-lg btn-block btn-google" type="submit">
                                            <i class="fa fa-google" aria-hidden="true"></i>Inicia con Google</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                  </form>
                </div>


                <!-- Registrarse -->
                <div id="registrarse">
                  <h1>Registrarse</h1>
                  <form action="#" method="post">
                    <div class="fila-arriba">
                      <div class="contenedor-input">
                        <label>
                          Nombre
                          <span class="req">*</span>
                        </label>
                        <input type="text" required>
                      </div>
                  
                      <div class="contenedor-input  email-res">
                        <label>
                          Email
                          <span class="req">*</span>
                        </label>
                        <input type="email" required>
                      </div>
                      <div class="contenedor-input pass-res">
                        <label>
                          Contraseña
                          <span class="req">*</span>
                        </label>
                        <input type="password" required>
                      </div>

                      <input type="submit" class="button button-block send2" value="Registrarse">
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>



  <!-- Bootstrap core JavaScript-->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/login.js"></script>
  <script src="../js/face.js"></script>
  <script src="../js/google.js"></script>



</body>

</html>